@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway&display=swap');

h1, h2 {
    font-family: 'Abril Fatface', cursive;
}

p, h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

header {
    background-color: #adcbce;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

header img {
    width: 50%;
}

.productdisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
}

.product {
    border: 2px;
    text-align: center;
}

.product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.product a, .product a:visited {
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
}

.product a:hover {
    color: #067d9b;
    font-weight: bold;
    text-decoration: none;
}

