@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #c6ccce;
}

h2 {
    font-size: 2rem;
}

p, h3, a {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

header {
    background-color: #022c30;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

header img {
    width: 50%;
    align-self: end;
}

.productdisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
}

.product {
    border: 2px;
    text-align: center;
}

.product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.product a, .product a:visited {
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    background-color: #adcbce;
    border-width: 5px;
    border-color: #045164;
    padding: 5%;
}

.product a:hover {
    color: #045164;
    font-weight: bold;
    text-decoration: none;
}

