@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway&display=swap');

h1, h2 {
    font-family: 'Abril Fatface', cursive;
}

p {
    font-family: 'Raleway', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #85c2c7;
}

.header img {
    width: 50%;
}

.productdisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
}

.product {
    border: 2px;
    text-align: center;
}

.product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

