@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap');

html {
    background-color: #16DB93;
}

body {
    width: 70%;
    background-color: #EFEA5A;
    margin: 0% 30% 0% 30%;
}

main {
    padding: 20%;
    margin: 0;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #A4036F;

}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

footer {
    align-content: center;
}

/* Menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A4036F;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(48, 2, 32);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(236, 49, 174);
  }

  .active {
    background-color: rgb(54, 151, 115);
  }