@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

html {
    background-color: #16DB93;
}

body {
    width: 70%;
    background-color: #EFEA5A;
}

main {
    padding: 20%;
    margin: 0;
}

h1 {
    font-family: 'Staatliches', cursive;
    color: #000000;

}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Staatliches', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center;
}

/* Menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(48, 2, 32);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  li a:hover {
    background-color: rgb(236, 49, 174);
  }

  .active {
    background-color: #048BA8;
  }